<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>競走馬登録</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light d-flex align-items-center min-vh-100">
    <div class="container my-5 p-4 bg-white rounded shadow-sm" style="max-width: 600px;">
        <h1 class="text-center text-primary mb-4">競走馬登録</h1>
        <div th:if="${message}">
			<p th:text="${message}"></p>
		</div>
        <form th:action="@{/horses/add}" th:object="${horse}" method="post" class="text-center">
            <div class="mb-3 form-group">
                <label for="name" class="form-label fw-bold">馬名</label>
                <div class="alert alert-danger text-center" role="alert" th:if="${#field.hasErrors('name')}" th:errors="*{name}" ></div>
                <input type="text" class="form-control text-center" id="name" name="name" th:field="*{name}" placeholder="例：オグリキャップ" required>
            </div>
            <div class="mb-3 form-group">
                <label for="breed" class="form-label fw-bold">血統(父)</label>
                <div th:if="${#field.hasErrors('breed')}" th:errors="*{breed}" class="alert alert-danger text-center" role="alert"></div>
                <input type="text" class="form-control text-center" id="breed" name="breed" th:field="*{breed}" placeholder="例：ディープインパクト" required>
            </div>
            <div class="mb-3 form-group">
                <label for="age" class="form-label fw-bold">年齢</label>
                <div th:if="${#field.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger text-center" role="alert"></div>
                <input type="number" class="form-control text-center" id="age" name="age" th:field="*{age}" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-4 py-2">競走馬情報を登録する</button>
        </form>
        
                <!-- 戻るボタン -->
        <div class="text-center mt-4">
            <a th:href="@{/top}" class="btn btn-primary">ダッシュボードに戻る</a>
        </div>
        
    </div>
</body>
</html>
